.leadsList{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-self: stretch;
}
.leadsListContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}