.leadInfoWrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-self: stretch;
}
.leadInfoDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    align-self: stretch;
    cursor: pointer;
}
.top > h3{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: 0.2px;
    color: var(--content-primary);
}
.top > button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leadInfoData{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.leadInfoStatus{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    flex: 1 0 0;
}
.leadInfoStatus > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}
.leadInfoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.leadInfoCardHeader{
    display: flex;
    height: 32px;
    padding: 0 8px;
    align-items: center;
    justify-content: start;
    gap: 4px;
    align-self: stretch;
    border-radius: 10px 10px 0 0;
    background: var(--bg-secondary-light, #EDEEEB);
}
.leadInfoCardHeader > p{
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 109.091% */
    letter-spacing: 0.44px;
    text-transform: uppercase;
    color: var(--content-secondary);
    font-feature-settings: 'liga' off, 'clig' off;
}
.leadInfoCardList, .leadInfoApprovalList{
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    list-style: none;
}
.leadInfoCardList > li{
    display: flex;
    height: 22px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.leadInfoCardList > li> span{
    font-size: 14px;
    line-height: 16px
}
.leadInfoCardList > li> span:nth-child(1){
    width: 160px;
    color: var(--content-secondary);
}
.leadInfoCardList > li> span:nth-child(2){
    flex: 1 0 0;
    /* display: flex; */
    text-align: right;
    color: var(--content-primary);
}
.leadInfoApprovalList{
    list-style: none;
}
.leadInfoApprovalList > li{
    display: flex;
    gap: 8px;
    /* align-items: center; */
    align-self: stretch;
}
.leadInfoApprovalList > li > span{
    margin-top: 10px;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leadInfoApprovalList > li > span::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 20px;
    background: var(--content-secondary);
    bottom: -30px;
}
.leadInfoApprovalList > li:last-child > span::after{
    display: none;
}
.approved{
    background: #059669;
}
.notApproved{
    background: var(--content-secondary);
}

.approvalItem{
    display: flex;
    flex: 1 0 0;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
}
.approvalItem > span{
    font-size: 14px;
    line-height: 16px
}
.approvedPerson{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.approvedPerson > span:nth-child(1){
    font-size: 14px;
    line-height: 16px
}
.approvedPerson > span:nth-child(2){
    font-size: 12px;
    color: var(--content-secondary);
}
.leadInfoStatus > div:last-child{
    justify-self: start;
    align-self: flex-start;
}
.leadInfoCategories{
    align-self: stretch;
}
.leadInfoCategories > div{
    gap: 16px;
}
.leadInfoCardCategories{
    display: flex;
    padding: 0 8px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px 10px;
    align-self: stretch;
    flex-wrap: wrap;
}


.table{
    width: 100%;
}
.table thead{
    background-color: rgba(237, 238, 235, 1);
}
.table thead tr th{
    padding: 10px 6px;
    color: #858988;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.numberCol{
    width: 48px;
    min-width: 30px;
    border-radius: 10px 0 0 0;
}
.titleCol{
    width: 305px;
    min-width: 30px;
}
.brandCol{
    width: 72px;
    min-width: 60px;
}
.modelCol{
    flex: 1 0 0;
}
.quantityCol{
    width: 94.571px;
}
.table tbody tr td{
    padding: 6px;
    font-size: 14px;
    line-height: 16px;
}

.deliveryInfo{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    flex:  1 0 0;
}
/* .deliveryInfo > div{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
} */
.deliveryTimeInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}
.deliveryTimeInfo > span{
    font-size: 14px;
    line-height: 16px;
    color: var(--content-secondary);
}
.deliveryItems{
    flex: 1 0 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.deliveryItems > div{
    align-self: stretch;
    flex: 1 0 0;
    display: flex;
    justify-content: space-between;
}
.deliveryItems > div > span{
    font-size: 14px;
    line-height: 16px;
    color: var(--content-primary);
    font-weight: 400;
}
.bottom{
    display: flex;
    align-self: stretch;
    flex: 1 0 0;
    gap: 48px;
}
.deliveryOptions{
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 32px;
}
.deliveryInfoDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}
.deliveryInfoDetails > span{
    font-size: 14px;
    line-height: 16px;
}
.deliveryInfoDetails > span:nth-child(1){
    color: var(--content-secondary);
}
.leadAttachmentsList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    list-style: none;
}
.leadAttachmentsList > li {
    align-self: stretch;
    border-bottom: 0.5px solid var(--border-low, rgba(0, 0, 0, 0.16));
}
.leadAttachmentsList > li:last-child{
    border: none;
}
.leadAttachmentsList > li > div{
    display: flex;
    padding: 6px 0;
    flex: 1 0 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.leadAttachmentsList > li:last-child > div{
    border: none;
}
.leadAttachmentsList > li > div > span{
    flex: 1 0 0;
    font-size: 14px;
    line-height: 16px;
}
.actionButtons{
    display: flex;
    align-items: center;
    gap: 4px;
}
.actionButtons > button:nth-child(1),
.actionButtons > button:nth-child(2),
.actionButtons > button:nth-child(3)
{
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 4px;
    border-radius: 48px;
}

.leadActionButtons{
    width: 100%;
    display: flex;
    padding: 12px 0 16px 0;
    justify-content: flex-end;
    align-items: flex-end;
    gap: space125;
}
.leadActionButtons > button > span{
    color: var(--content-primary);
}