.tabItem{
    display: flex;
    padding: 10px 4px 0 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    color: var(--text-secondary);
}
.tabItemActive{
    position: relative;
    /* border-bottom: 2px solid var(--accent-color); */
    color: var(--text-primary);
    font-weight: 500;
}
.tabItemActive::after{
    position: absolute;
    content: "";
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: var(--accent-color);
}
.tabItem > span{
    /* color: var(--text-secondary); */
}