.cardActionButton{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 6px;
    border-radius: 48px;
    position: relative;
}

.cardActionButton:hover{
    background: var(--bg-secondary);
}